<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    <link href="static/qanda.css" type="text/css" rel="stylesheet" />
  <title>Q&A</title>
  </head>
  <body>
    <h2>Lobby</h2>
    <div>
      Join one of the current Q&As:
      {% for topic in topics %}
      <div class="qa">
        <span class="name"><a href="/qa-{{ topic.id }}">{{ topic.name }}</a></span>
      </div>
      {% end %}
    </div>
    <div class="margintop">
      Or, add a new topic:
      <form action="" method="post">
        <input type="text" name="topic" value="{{ topicname }}">
        <input type="submit" value="Add">
      </form>
      {% if error %}
      <span class="error">Topic name already exists</span>
      {% end %}
    </div>
  </body>
<html>
