html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Share Tech Mono", monospace;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#myhandle {
    color: #9B1728;
}

.other_handle {
    color: black;
}

#myimage {
}

#editableHandle {
    width:120px;
}

.message_reply {
}

.message_text {
}

.message_time {
    font-size: 0.8em;
    color: #5E6F7F;
}
.message {
    border-top: 1px solid #5E6F7F;
    width: 500px;
}

.message_reply a {
    text-decoration: none;
}

.message_user {
    display: block;
    font-size: 1.0em;
    color: #358EE5;
}

.not_selected {
    background-color: white;
}

.selected {
    background-color: #FAFFB2;
}

#questiontree {
    padding-bottom: 1%;
}

#userpanel {
    display: inline-block;
    vertical-align: top;
}

#questionpanel {
    display: inline-block;
}

.backlink a {
    color: black;
    text-decoration: none;
}

div.leftcol {
    display: inline-block;
    vertical-align: top;
}
div.rightcol {
    display: inline-block;
}

.topic, .name {
    width: 200px;
    display: inline-block;
}

.users, .nusers {
    width: 100px;
    display: inline-block;
}

.topic, .users {
    color: #9B1728;
}

div.margintop {
    margin-top: 10px;
}

.error {
    color: #9B1728;
}

#topicid {
    display: none;
}
